:root {
  --color-blue: #6699CC;
  --color-orange: #EE964B;
  --color-gray: #272932;
  --font: 'Inter', sans-serif;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--color-blue);
  font-family: var(--font);
  font-size: 1rem;
}

body::before {
  content: '';
  width: 500px;
  height: 500px;
  position: absolute;
  top: -250px;
  left: -250px;
  border-radius: 50%;
  background-color: var(--color-orange);
}

h1 {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  font-size: 3.2rem;
  letter-spacing: 0.25em;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
}

h1::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-orange);
}

h3 {
  margin-bottom: 0;
  margin-left: 8px;
  font-weight: 800;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

input,
button {
  padding: 24px 32px;
  border: none;
  font-size: 1.2rem;
  outline: none;
}

input {
  border-radius: 40px 0 0 40px;
}

button {
  padding-left: 24px;
  border-radius: 0 40px 40px 0;
  color: white;
  background-color: var(--color-orange);
  transition: all 0.2s;
}

button:hover {
  background-color: var(--color-gray);
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  width: 100%;
  font-size: 14px;
  font-weight: 100;
  border-collapse: collapse;
}

table td {
  height: 32px;
  padding-right: 4px;
  padding-left: 4px;
}

thead {
  margin-bottom: 8px;
  font-weight: 400;
}

thead td {
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background-color: rgb(49, 51, 60);
}

tbody td:first-of-type {
  text-align: left;
  font-weight: 400;
}

td:not(:first-of-type) {
  text-align: right;
}

.preamble {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.site-header {
  position: relative;
  text-align: center;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 12px;
  padding: 16px 12px 32px;
  background-color: var(--color-gray);
  border-radius: 16px;
  color: white;
}

.list__icon {
  max-width: 28px;
}
